<div class="khongduocxoa"></div>
<div class="w3l-news" id="news">
  <section id="grids5-block" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="grids5-info">
            <h5 class="card-title">Tên sổ: {{sotietkiem.TenSo}}</h5>
            <p class="card-text">Số tài khoản: {{sotietkiem.STK}}</p>
            <p class="card-text">CMNN/CCCD: {{sotietkiem.CCCD}}</p>
            <p class="card-text">Số tiền gửi: {{sotietkiem.SoTienGui}}</p>
            <p class="card-text">Thời hạn: {{sotietkiem.ThoiHan}}</p>
            <p class="card-text">Lãi suất: {{sotietkiem.LaiSuat}} </p>
            <p class="card-text"><span class="fa fa-calendar mr-2"></span>Ngày
              gửi:
              {{dateFormat sotietkiem.NgayGui "DD / MM / YYYY"}}</p>
            <p class="card-text"><span class="fa fa-calendar mr-2"></span>Ngày
              hết hạn:
              {{dateFormat sotietkiem.NgayHetHan "DD / MM / YYYY"}}</p>
            <p class="card-text">Số tiền đáo hạn:
              {{sotietkiem.SoTienDaoHan}}
            </p>
            <a
              href="/SoTietKiem/HuyGoi/{{sotietkiem._id}}"
              class="btn btn-primary" 
              style="margin-top:6px;"
            >Hủy gói để nhận tiền </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>