<div class="khongduocxoa"></div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{sotietkiem.TenSo}}</h5>
                <p class="card-text"> {{sotietkiem.STK}}</p>
                <p class="card-text"> {{sotietkiem.CCCD}}</p>
                <p class="card-text"> {{sotietkiem.SoTienGui}}</p>
                <p class="card-text"> {{sotietkiem.ThoiHan}}</p>
                <p class="card-text">{{sotietkiem.LaiSuat}} </p>
                <p class="card-text"> {{sotietkiem.NgayGui}}</p>
                <p class="card-text"> {{sotietkiem.NgayHetHan}}</p>
                <p class="card-text">{{sotietkiem.SoTienDaoHan}} </p>
                <a href="/SoTietKiem/HuyGoi/{{sotietkiem._id}}" class="btn btn-primary">Hủy gói để nhận tiền </a>
            </div>
        </div>
    </div>
</div>
