{{!--
<link rel="stylesheet" href="/css/app.css"> --}}
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 banner-info-bg">
                                        <h5>Gửi tiết kiệm online</h5>
                                        <p class="mt-md-4 mt-3">Bạn có thể chọn một gói tiết kiệm ưng ý với vài "cú"
                                            click chuột.
                                        </p>
                                        <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                                            Đọc thêm</a>
                                    </div>
                                    <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                                        <img src="/img/so-tiet-kiem.jpg" alt="img"
                                            class="img-fluid radius-image-curve" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 banner-info-bg">
                                        <h5>Lãi suất hấp dẫn </h5>
                                        <p class="mt-md-4 mt-3">Chúng tôi cung cấp các gói tiết kiệm với lãi suất "cực"
                                            hấp dẫn.
                                        </p>
                                        <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                                            Đọc thêm</a>
                                    </div>
                                    <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                                        <img src="/img/lai-suat.jpg" alt="img" class="img-fluid radius-image-curve" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 banner-info-bg">
                                        <h5>Bảo mật - An toàn - Đảm bảo</h5>
                                        <p class="mt-md-4 mt-3">Chúng tôi cam kết các giao dịch trên website là an toàn,
                                            bảo mật quyền riêng tư
                                            và đảm bảo quyền lợi của khách hàng.
                                        </p>
                                        <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                                            Đọc thêm</a>
                                    </div>
                                    <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                                        <img src="/img/best.jpg" alt="img" class="img-fluid radius-image-curve" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view  banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 banner-info-bg">
                                        <h5> Hỗ trợ 24/7 </h5>
                                        <p class="mt-md-4 mt-3">Chúng tôi sẵn sàng hỗ trợ bạn mọi lúc 24/7
                                        </p>
                                        <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                                            Đọc thêm</a>
                                    </div>
                                    <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                                        <img src="/img/support.jpg" alt="img" class="img-fluid radius-image-curve" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>

<section id="about" class="home-services pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-cc-visa"></span>
                        </div>
                        <div class="info">
                            <p>An toàn</p>
                            <h4>Safety</h4>
                        </div>
                    </div>
                    <p class="mt-4">Chúng tôi đảm bảo mọi giao dịch của website là vô cùng an toàn.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-money"></span>
                        </div>
                        <div class="info">
                            <p>Lãi suất</p>
                            <h4>Interest rate</h4>
                        </div>
                    </div>
                    <p class="mt-4">Website cung cấp các gói tiết kiệm lãi suất cực hấp dẫn</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-line-chart"></span>
                        </div>
                        <div class="info">
                            <p>Uy tín</p>
                            <h4>Reputation</h4>
                        </div>
                    </div>
                    <p class="mt-4">Website cung cấp các dịch vụ với độ tin cậy cao nhất thị trường</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h3 class="title-left mx-0"> Bối cảnh ra đời của website
                    </h3>
                    <p class="mt-md-4 mt-3">Website được tạo ra trong hình dịch COVID-19 diễn ra vô
                        cùng phức tạp. Hầu hết các dịch vụ đều chuyển đổi số như học tập, thanh toán hóa đơn,
                        mua hàng qua mạng,.. và đăc biệt là gửi tiền tiết kiệm online</p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#"> Đọc thêm</a>
                </div>
                <div class="col-lg-5">
                    <div class="position-relative">
                        <img src="/img/about.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-mobile-content-6 py-5">
    <div class="mobile-info py-lg-5 py-md-4 py-2">
        <!-- /mobile-info-->
        <div class="container">
            <h6 class="title-small text-center" Tính năng và lợi ích của việc gửi tiền tiết kiệm online</h6>
                <h3 class="title-big mb-5 text-center">The Best Choice</h3>
                <div class="row mobile-info-inn mx-lg-0">
                    <div class="col-lg-4 mobile-right text-right">
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">An toàn</a></h6>
                                <p>Tất cả giao dịch đều online đảm bảo an toàn mùa dịch.
                                </p>
                            </div>
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
                                    <span class="fa fa-mobile"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">Cộng đồng đông đảo</a></h6>
                                <p>Cộng đồng đông đảo mọi vấn đề dễ dàng được giải quyết.</p>
                            </div>
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
                                    <span class="fa fa-users"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mobile-right-grids">
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">Tiện lợi </a></h6>
                                <p>Chỉ với vài bước đơn giản là bạn sẽ có một sổ tiết kiệm ưng ý</p>
                            </div>
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
                                    <span class="fa fa-globe"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mobile-left px-lg-5">
                        <img src="/img/mobile.png" class="img-fluid radius-image" alt="">
                    </div>
                    <div class="col-lg-4 mobile-right">
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
                                    <span class="fa fa-user"></span>
                                </div>
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">Dễ quản lý</a></h6>
                                <p>Bạn có thể dễ dàng quản lý sổ tiết kiệm của mình</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
                                    <span class="fa fa-cogs"></span>
                                </div>
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">Gửi/nhận tiền nhanh chóng</a></h6>
                                <p>Bạn có thể gửi hoặc nhận tiền với vài cú click chuột</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids">
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
                                    <span class="fa fa-support"></span>
                                </div>
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">Hỗ trợ 24/7</a></h6>
                                <p>Chúng tôi sẵn sàn hỗ trợ bạn 24/7</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="text-center">
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#book"> View more advanced features</a>
            </div> -->
        </div>
        <!-- //mobile-info-->
    </div>
</section>


<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Các gói tiết kiệm</h3>
            <h5 class="text-center">Số lượng gói đang có: {{soluong}}</h5>
            <div class="text-center">
                {{#if message}}
                <div style="text-align: center" class="alert alert-{{message.type}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{message.intro}}</strong> {{message.message}}
                </div>
                {{/if}}
                {{#if isAdmin}}
                <a href="/GoiTietKiem/Them" class="btn btn-primary text-center btn-custom">Thêm gói</a>
                {{/if}}
            </div>
            <div class="row mt-lg-5 mt-4 ">
                {{#each goitietkiem}}
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="/GoiTietKiem/MoGoi/{{this._id}}" class="d-block zoom"><img src="/img/goitk.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <h4><a href="/GoiTietKiem/MoGoi/{{this._id}}">{{this.TenGoi}}</a></h4>
                        <p>Thời Hạn: {{this.ThoiHan}}</p>
                        <p class="date"><span class="fa fa-calendar mr-2"></span>Bắt đầu từ: {{dateFormat
                            this.NgayDienRa "DD / MM / YYYY" }}</p>
                        <p class="date"><span class="fa fa-calendar mr-2"></span>Đến ngày: {{dateFormat this.NgayKetThuc
                            "DD / MM / YYYY" }}</p>
                        <p>Ưu đãi: {{this.UuDai}}</p>
                        <p>Lãi suất: {{this.LaiSuat}}</p>
                        <div class="text-center ">
                            <a href="/GoiTietKiem/MoGoi/{{this._id}}" class="btn btn-primary btn-custom">Mở gói ngay</a>
                            {{#if ../isAdmin}}
                            <a href="/GoiTietKiem/Sua/{{this._id}}" class="btn btn-primary btn-custom">Sửa</a>
                            <a href="/GoiTietKiem/Xoa/{{this._id}}" class="btn btn-primary btn-custom">Xóa</a>
                            {{/if}}
                        </div>

                    </div>
                </div>
                {{/each}}
                {{!--
                <div class="text-center">
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#blog">Xem tất cả các gói</a>
                </div> --}}
            </div>
        </div>
    </section>
</div>

<!-- //mobile section --->
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="advantages">
    <div class="container py-lg-5 py-md-4 py-2">
        <h6 class="title-small text-center">Our Services</h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">Advantages and Details</h3>
        <div class="grids-area-hny main-cont-wthree-fea row pt-3">
            <div class="col-lg-3 ceo-text mb-lg-0 mb-4">
                <div class="">
                    <span class="fa fa-quote-left"></span>
                    <p>The website really helps me, it's safe, convenient and fast.</p>
                    <div class="author align-items-center mt-4 mb-1">
                        <div class="img-circle">
                            <img src="/img/team2.jpg" class="mr-3 img-fluid" alt="...">
                        </div>
                        <div class="author-info">
                            <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Sep 28, 2020 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-laptop"></span>
                    <h4><a href="#feature" class="title-head">Detailed Statistics</a></h4>
                    <p>Có những thống kê chi tiết chính xác và nhanh chóng</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-envelope-open-o"></span>
                    <h4><a href="#feature" class="title-head">Email Newsletter </a></h4>
                    <p>Hóa đơn giao dịch được gửi đến email nhanh chóng</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-line-chart"></span>
                    <h4><a href="#feature" class="title-head">Financial Goals</a></h4>
                    <p>Có mục tiêu rõ ràng, giúp người dùng đạt được hiệu quả cao nhất</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- section -->
<section class="w3l-statistics" id="statistical">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <h6 class="title-small text-center">Banking statistics.</h6>
            <h3 class="title-big mb-md-5 mb-4 text-center">Statistical information</h3>
            <div class="row">
                <div class="col-lg-4 align-self w3l-progressblock pr-lg-4">
                    <p class="mb-4">Our financial services deeply rely on certain banking procedures that have been
                        perfected over
                        the years and helped us get prestigious awards.</p>
                    <div class="progress-info info1">
                        <h6 class="progress-tittle">Financial consulting <span class="">80%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">Online Bank cards <span class="">95%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info3">
                        <h6 class="progress-tittle">Online reporting <span class="">90%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info4">
                        <h6 class="progress-tittle">Online banking <span class="">75%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2 mb-0">
                        <h6 class="progress-tittle">24/7 support <span class="">95%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 align-self">
                    <div class="position-relative">
                        <div class="progress-circles">
                            <div class="circle1">
                                <div id="progress" data-dimension="170" data-text="65%" data-fontsize="30"
                                    data-percent="65" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Economy</h4>
                            </div>
                            <div class="circle1">
                                <div id="progress1" data-dimension="170" data-text="75%" data-fontsize="30"
                                    data-percent="75" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Stability</h4>
                            </div>
                            <div class="circle1">
                                <div id="progress2" data-dimension="170" data-text="90%" data-fontsize="30"
                                    data-percent="90" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Cashback</h4>
                            </div>
                            <div class="circle1">
                                <div id="progress3" data-dimension="170" data-text="100%" data-fontsize="30"
                                    data-percent="100" data-fgcolor="#1d0d44" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Guarantee</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
                    <img src="/img/stats.jpg" alt="" class="radius-image img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // about section -->
<!-- forms -->
<section class="w3l-forms-9 py-5">
    <div class="container py-lg-3">
        <div class="row align-items-center">
            <div class="main-midd col-lg-7 text-lg-right">
                <h4 class="title-big">Choose Your Bank Card Now!</h4>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-4">
                <a class="btn btn-style btn-dark" href="/Login"> Book a card</a>
            </div>
        </div>
    </div>
</section>
<!-- //forms -->
<div class="w3l-ordercard py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big mb-5 text-center">How to order a New Card</h3>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-sign-in"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Online Registration</h4>
                        <p class="desc">Đăng ký tài khoản online</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-file-text-o"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Filling Out a Form</h4>
                        <p class="desc">Điền vào form thông tin tài khoản</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-pencil"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Signing an Agreement</h4>
                        <p class="desc">Chấp nhận điều khoản dịch vụ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-credit-card"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Using a card</h4>
                        <p class="desc">Sử dụng các loại thẻ tín dụng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  News section -->
<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Latest blog posts</h3>
            <div class="row mt-lg-5 mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="https://money.usnews.com/money/personal-finance/banking-credit/articles/2017-05-05/7-banking-services-that-can-save-retirees-money" class="d-block zoom"><img src="/img/blog1.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4><a href="https://money.usnews.com/money/personal-finance/banking-credit/articles/2017-05-05/7-banking-services-that-can-save-retirees-money">7 Banking services that can save retirees money</a></h4>
                            <p class="date"><span class="fa fa-calendar mr-2"></span> May 5, 2017</p>
                            <p>If you’re still banking the way you did 30 years ago, you’re missing out on these services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="https://www.ncr.com/company/blogs/financial/8-ways-to-drive-adoption-of-your-banking-app" class="d-block zoom"><img src="/img/blog2.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4><a href="https://www.ncr.com/company/blogs/financial/8-ways-to-drive-adoption-of-your-banking-app">8 Ways to Drive Adoption of Your Banking App</a></h4>
                            <p class="date"><span class="fa fa-calendar mr-2"></span>November 19, 2019</p>
                            <p>When it comes to digital banking, it’s no secret what customers want. They want convenience. They want an easy-to-use app.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="https://www.mercycorps.org/blog/look-back-at-2020" class="d-block zoom"><img src="/img/blog3.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4><a href="https://www.mercycorps.org/blog/look-back-at-2020">A look back at 2020: Challenges, progress and a path forward </a></h4>
                            <p class="date"><span class="fa fa-calendar mr-2"></span> November 16, 2020</p>
                            <p>2020 may be coming to an end, but the challenges we faced this year continue — the COVID‑19 pandemic,...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="https://edition.cnn.com/">View all blog posts</a>
            </div>
        </div>
    </section>
</div>