<div class="w3l-news" id="news">
  <section id="grids5-block" class="py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <p>{{message}}</p>
      {{#if lichsunaprut}}
      <div class="row mt-lg-5 mt-4">
        {{#each lichsunaprut}}
        <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
          <div class="grids5-info">
            <div class="card-body">
              <h5 class="card-title">{{this.Ten}}</h5>
              <p class="card-text"> {{this.paymentId}}</p>
              <p class="card-text"> {{this.SoTien}}</p>
              <p class="card-text">{{dateFormat this.Ngay "DD / MM / YYYY" }}  </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p>Bạn chưa nạp / rút lần nào . !</p>
      {{/if}}
    </div>
  </section>
</div>