<div class="khongduocxoa"></div>
<p>{{message}}</p>
<form method="post" action="/pay">
    <div class="form-group">
        <label for="exampleInputEmail1">Tên Tài Khoản: {{taikhoan.TenTK}}</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">email: {{taikhoan.email}}</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Số Tài Khoản: {{taikhoan.STK}}</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Số Dư: {{taikhoan.SoDu}}</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Nhập số tiền muốn nạp: </label>
        <input type="text" class="form-control" name="SoTienNap" maxlength="15" minlength="5" required>
    </div>
    <button type="submit" class="btn btn-primary"><img src="https://img.spideylab.com/2015/06/paypal-1.jpg" height="50" width="200" /></button>
</form>