<div class="khongduocxoa"></div>
<div class="w3l-news" id="news">
  <section id="grids5-block" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="grids5-info">
            <form method="post" action="/GoiTietKiem/Sua/{{goitietkiem._id}}">
              {{#if message}}
                <div
                  style="text-align: center"
                  class="alert alert-{{message.type}}"
                >
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                  >&times;</button>
                  <strong>{{message.intro}}</strong>
                  {{message.message}}
                </div>
              {{/if}}
              <div class="form-group">
                <label for="exampleInputEmail1">Tên Gói: </label>
                <input
                  type="text"
                  class="form-control"
                  id="TenGoi"
                  name="TenGoi"
                  minlength="2"
                  required
                  value="{{goitietkiem.TenGoi}}"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Thời Hạn: </label>
                <input
                  type="text"
                  class="form-control"
                  name="ThoiHan"
                  minlength="5"
                  required
                  value="{{goitietkiem.ThoiHan}}"
                />

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Ưu Đãi: </label>
                <input
                  type="text"
                  class="form-control"
                  id="UuDai"
                  name="UuDai"
                  value="{{goitietkiem.UuDai}}"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Lãi Suất: </label>
                <input
                  type="text"
                  class="form-control"
                  name="LaiSuat"
                  required
                  value="{{goitietkiem.LaiSuat}}"
                />

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Ngày Diễn Ra:</label>
                <input type="date" class="form-control" name="NgayDienRa" />

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Ngày Kết Thúc: </label>
                <input type="date" class="form-control" name="NgayKetThuc" />

              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>