<div class="w3l-news" id="news">
  <section id="grids5-block" class="py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      {{#if message}}
      <div style="text-align: center" class="alert alert-{{message.type}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{message.intro}}</strong> {{message.message}}
      </div>
      {{/if}}
      <p>Tổng số lượng sổ: {{soluong}}</p>
      {{#if tongtien}}
      <p>Tổng số tiền được gửi: {{tongtien}}</p>
      {{/if}}
      <form class="form-inline my-2 my-lg-0" method="post" action="/SoTietKiem/TatCaSo">
        <input class="form-control mr-sm-2" type="Search" name="Search" id="Search" placeholder="Search"
          aria-label="Search" value="{{Search}}">
        <button class="button" type="submit">Search</button>
      </form>
      <div class="row mt-lg-5 mt-4">
        {{#each sotietkiem}}
        <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
          <div class="grids5-info">
            <h5 class="card-title">{{this.TenSo}}</h5>
            <p class="card-text"> {{this.STK}}</p>
            <p class="card-text"> {{this.CCCD}}</p>
            <p class="card-text"> {{this.SoTienGui}}</p>
            <p class="card-text"> {{this.ThoiHan}}</p>
            <p class="card-text">{{this.LaiSuat}} </p>
            <p class="card-text"> {{dateFormat this.NgayGui "DD / MM / YYYY" }}</p>
            <p class="card-text"> {{dateFormat this.NgayHetHan "DD / MM / YYYY" }} </p>
            <p class="card-text">UserId: {{this.user}} </p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>