<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p>{{message}}</p>
                <p>Tông số tiền đang có: {{sotien}}</p>
                <h5 class="card-title">{{taikhoan.TenTK}}</h5>
                <p class="card-text"> {{taikhoan.email}}</p>
                <p class="card-text"> {{taikhoan.CCCD}}</p>
                <p class="card-text"> {{taikhoan.NgaySinh}}</p>
                <p class="card-text"> {{taikhoan.SoDu}}</p>
                <p class="card-text">{{taikhoan.STK}} </p>
                <p class="card-text"> {{taikhoan.createdAt}}</p>
                <a href="/TaiKhoan/ChinhSua" class="btn btn-primary">Chỉnh sửa thông tin </a>
                <a href="/TaiKhoan/DoiMatKhau" class="btn btn-primary">Đổi mật khẩu </a>

            </div>
        </div>
    </div>
</div>